.git
**/node_modules
packages/icons/generated
**/dist
**/.output
**/.astro
**/.turbo
**/.cache
**/.env*
**/*.log
**/*.pem
**/*.key
.tinyb
.tinybird
.DS_Store
.vscode
.idea
data
tmp
test-apps
video
store
metadata
metadata_dropped
user_files
preprocessed_configs
format_schemas
flags
uuid
deploy/woodpecker/data
deploy/woodpecker/secrets
