node_modules/
dist/
.turbo/
*.log
.DS_Store
.env
.env.local
.tinyb
.output
.vscode

# Local database files
data/
flags/
format_schemas/
metadata/
metadata_dropped/
preprocessed_configs/
status
store/
tmp/
user_files/
uuid


# Misc
test-apps
video
pnpm-lock.yaml
md
.npmrc
